<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="ConsoleAppender" target="SYSTEM_OUT">
            <PatternLayout
                    pattern="%highlight{%-5level %d{yyyy-MM-dd'T'KK:mm:ss'Z'} greenfox-kryptonite.herokuapp.com %msg%n%throwable}"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="${env:LOGLEVEL:- INFO}">
            <AppenderRef ref="ConsoleAppender"/>
        </Root>
    </Loggers>
</Configuration>